black==21.12b0
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-Material==0.1.1
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
mypy-extensions==0.4.3
numpy==1.21.4
pathspec==0.9.0
pdoc==8.0.1
platformdirs==2.4.0
Pygments==2.10.0
tomli==1.2.2
typing_extensions==4.0.1
waitress==2.0.0
Werkzeug==2.0.2
zipp==3.6.0
